:root {
  --md-primary-fg-color:        #8900a8;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-typeset-a-color:  #f5c7ff;
}

.center {
    display: block;
    margin: 0 auto;
}
